<!DOCTYPE html>
<html>

<head>
	<title>About us Page</title>

	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity=
"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity=
"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous">
	</script>
	
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity=
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous">
	</script>

    <link rel = "stylesheet" href="/css/about.css">
</head>

<body>
	<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/home">
          <img src="/images/finalLogo.png" width="100" height="50" alt="">
        </a>
        <a class="nav-link" href="/userLogin"><img src = "/images/user-128.png" width="30" height="30">User Login</a>
        <a class="nav-link" href="/hospitalLogin"><img src = "/images/hospitalf.png" width="30" height="30">Hospital Login</a>
        <a class="nav-link" href="/about">About us</a>
        <a class="nav-link" href="/contact">Contact us</a>
      </nav>

	<section class="background firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<p class="text-big">About US</p>

				<p class="text-small">
					if u are in need of blood just send a request in our website with your blood group. We will let you know the nearby hospital in which you can get the type of blood you want.
				</p>

				<br>
				
				<p class="center"><a href="#Order"
					style="text-decoration:none;color:white;">
					</a>
				</p>

			</div>
		</div>
	</section>

	
	<footer class="background">
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>

	</footer>
</body>

</html>