<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel = "stylesheet" href = "/css/hRegister.css">
</head>
<body>
    <div class = "wrapper">
        <div class = "header">
            <h2>WELCOME</h2>
            <h2>HOSPITAL REGISTRATION </h2>
        </div>
        <div class = "form-div">
            <h1>Add Hospital Details</h1>
            <div >
                <form method = "post" action = "/hospitalRegister">
                    <input type = "text" id = "f-name" name = "name" placeholder= "Name">
                    <input type = "password" id = "l-name" name="password" placeholder= "Password">
                    <br>
                    <input type = "password" id = "f-name" name = "n" placeholder= "Confirm password">
                    <input type = "email" id = "email" name = "email" placeholder= "Your Email">
                    <input type = "text" id = "phone" name = "phone" placeholder="Phone">
                    <input type = "text" id = "phone" name = "city" placeholder="City">
                    <input type = "text" id = "f-name" name = "state" placeholder= "State">
                    <br><br>
                    <button class = "reset" type = "reset">Reset</button>
                    <button class = "Register">Register</button>
                </form> 
            </div>
        </div>
    </div>
    
</body>
</html>