<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style1.css">
        <style>
            body {
                background-image: url('https://raw.githubusercontent.com/Destravna/Blood-Donation-system/main/public/images/finalbg.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
            
    </head>
    <body background="https://raw.githubusercontent.com/Destravna/Blood-Donation-system/main/public/images/finalbg.png">
        <h1 align="center">Our Aim</h1>Blood donations are critically important this spring. Give blood by April 18 and get a Red Cross T-shirt, while supplies last. Donations with the needed antibody levels may help treat patients with weakened immune systems who are battling COVID-19.
        <div>
        <br>
           <span id="text">Donating blood today? Complete your pre-reading and health history questions online using any device, before visiting your blood drive location. Are you eligible for blood donation? Find out about the eligibility requirements to donate blood today. Learn about general health, travel, medications, tattoos, and more. Blood donors who are Black play a critical role in helping sickle cell disease patients receive the most compatible blood match. Donors needed to meet this urgent need. You may still donate blood, platelets or plasma after receiving a COVID-19 vaccine. Knowing the name of the manufacturer of the vaccine is important in determining your blood donation eligibility. Platelet Donors Help Patients Kick Cancer. Volunteers Needed to Help Blood Donations. Volunteer opportunities include supporting blood donations and delivering much-needed services to your community. We answer the most frequently asked questions in the new Be a Hero Donor Guide. Enter your information to learn the truth about some blood donation myths and how you can help patients. <br>
        </div>
        <div class="btn-container">
        <button id="toggle">Read More</button>
        </div>
    </body>
</html>