<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>

<body>
    <form action="/userRegister" method="post">
        <input type = "text" name = "name" placeholder = "name">
        <input type = "password" name = "password" placeholder="password">
        <input type = "password" name = "confirmPassword" placeholder="password">
        <input type = "text" name = "age" placeholder="age">
        <input type = "text" name = "blood" placeholder="blood">
        <input type = "text" name = "phone" placeholder="phone">
        <input type = "text" name = "email" placeholder="email">
        <input type = "text" name = "city" placeholder="city">
        <input type = "text" name = "state" placeholder="state">
        <input type = "submit" name = "submit">
    </form>
</body>

</html>